h1{text-align: center;}

.container{
    position: relative;
    width: 1200px;
    height: 800px;
    border: 5px dashed orange;
    margin:auto ;
}

.contain div{margin: auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 10%;
    box-sizing: border-box;


}
/*position:relative*/
.contanin .absolute {                /*부모요소를 기준으로 위치설정*/
    position:relative;
    border: 3px solid black;
}
/*초기위치*/
.contain .base{
    position: absolute;
    border: 3px dashed #ddd;
    color:#ddd ;
    z-index: -1;
}
.first{top:0; left: 0px;}
.second{top:0; right: 0px;}
.third{bottom:0px; left: 0px;}
.fourth{bottom:0px; right: 0px;}

/*정가운데:가로세로가운데*/
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}                                                 /*이 네줄은 외워서 사용*/


.fifth{top:0; left: 500px;}
.sixth{top:200px; left: 500px;}
.seventh{top:400px; left: 500px;}
.eighth{top:600px; left: 500px;}
