*{margin: 0; padding: 0; text-align: center;}

.box{
    width: 900px;
    height: 600px;
    margin: 50px auto;
}

/*모양*/
.ellipse{
    background: radial-gradient(ellipse, #f9ca24 0%, #130f40 50%, #dff9fb 100% );
}
.circle{
    background: radial-gradient(circle, #f9ca24 0%, #130f40 50%, #dff9fb 100% )
}
/*사이즈*/
.closest-corner{
    background:
    radial-gradient(closest-corner at 60% 55%, blue,green,yellow,pink);
}
.closest-side{
    background:
    radial-gradient(closest-side at 60% 55%, blue,green,yellow,pink);
}
.farthest-side{
    background:
    radial-gradient(farthest-side at 60% 55%, blue,green,yellow,pink);
}

.farthest-corner{
    background:
    radial-gradient(farthest-corner at 60% 55%, blue,green,yellow,pink);
}

/*중첩 그라디언트*/
.stacked-radial{
    background: radial-gradient(circle at 50% 0, rgba(255,0,0,0.5), rgba(255,0,0,0 )70%),
                radial-gradient(circle at 7% 75%, rgba(0,0,255,0.5), rgba(255,0,0,0 )70%),
                radial-gradient(circle at 93% 75%, rgba(0,255,0,0.5), rgba(255,0,0,0 )70%);

}